<app-side-menu></app-side-menu>
<app-container>
    <div class="po-font-text-bold">
        <h1>Seus pedidos</h1>
    </div>
    <po-table
    p-container="true"
    p-hide-table-search="true"
    [p-columns]="columns"
    [p-actions]="actions"
    [p-items]="items"
    ></po-table>
    <!-- <po-widget p-title="Esses são seus pedidos">
        <div class="grid-container">
            <div *ngFor="let pedido of listaPedidos" class="grid-item">
                <h3>Id do pedido: {{ pedido.id }}</h3>
                <p>Status: {{ pedido.status }}</p>
                <p>Produtos:</p>
                <ul class="produto-list">
                    <li *ngFor="let produtoId of pedido.produto">
                        {{ getProdutoNome(produtoId) }}
                        {{ getProdutoCategoria(produtoId) }}
                    </li>
                </ul>
            </div>
        </div>
    </po-widget> -->
</app-container>

<po-modal #modalShow p-click-out="true" p-title="Detalhes do Pedido">
    <div *ngIf="detail && detail.length > 0">
      <h1>ID: {{currentPedido?.id}}</h1>
      <p>Status: {{currentPedido?.status}}</p>
        <br/>
      <ul>
        <h2>Produtos</h2>
        <li *ngFor="let produto of detail">
          Nome: {{ produto.nome }} | Categoria: {{ produto.categoria }}
        </li>
    </ul>
    </div>
</po-modal>

<po-modal #modalEditar p-click-out="true" p-title="Editar Pedido">
    <po-dynamic-form #dynamicForm [p-fields]="fields" [p-value]="detail">
    </po-dynamic-form>
    <ul>
        <li *ngFor="let produto of detail">
          Nome: {{ produto.nome }} | Categoria: {{ produto.categoria }}
        </li>
    </ul>
    <div class="po-mt-3">
      <po-button p-label="Confirmar" (p-click)="editarPedido()"></po-button>
    </div>
</po-modal>
