<app-side-menu></app-side-menu>

<app-container>
    <po-widget>
        <po-button (p-click)="openModal()" p-label="Selecionar cliente para realizar o pedido"></po-button>
    </po-widget>

    <div *ngIf="clienteSelecionado" class="cliente-info">
        <h2>Cliente selecionado</h2>
        <p>Nome: {{clienteSelecionado.nome}}</p>
        <p>Email: {{clienteSelecionado.email}}</p>
    </div>

    <div *ngIf="clienteSelecionado" class="produtos-container">
        <div class="busca">
            <po-select
                name="categoria"
                p-label="Selecione a categoria"
                [p-options]="[
                    {label: 'Todos', value: 'todos'},
                    {label: 'Processador', value: 'processador'},
                    {label: 'Placa Mãe', value: 'placaMae'},
                    {label: 'Memória Ram', value: 'memoriaRam'},
                    {label: 'Armazenamento', value: 'armazenamento'},
                    {label: 'Monitor', value: 'monitor'},
                    {label: 'Teclado', value: 'teclado'},
                    {label: 'Mouse', value: 'mouse'}
                ]"
                (p-change)="onCategoriaChange($event)">
            </po-select>
        </div>
        <div class="grid-container">
            <div *ngFor="let produto of produtosFiltrados" class="grid-item">
                <p>Nome: {{ produto.nome }}</p>
                <p>Categoria: {{ produto.categoria }}</p>
                <po-button p-icon="po-icon-plus-circle" (p-click)="selecionarProduto(produto)"></po-button>
            </div>
        </div>

        <div class="paginacao">
            <po-button class="po-md-4" [p-disabled]="page === 1" p-label="Página anterior" (p-click)="paginaAnterior()"></po-button>
            <span>Página {{ page }}</span>
            <po-button class="po-md-4" p-label="Próxima página" (p-click)="proximaPagina()"></po-button>
        </div>

        <div *ngIf="listaProdutosCarrinho.length !== 0" class="carrinho">
            <h2>Carrinho</h2>
            <div class="produto-carrinho" *ngFor="let produto of listaProdutosCarrinhoShow">
                <p>Nome: {{ produto.nome }}</p>
                <p>Categoria: {{ produto.categoria }}</p>
                <po-button (p-click)="removerProduto(produto)" p-icon="po-icon-minus-circle"></po-button>
            </div>
            <po-button class="realizar-pedido-button" (click)="realizarPedido()" [p-disabled]="listaProdutosCarrinho.length === 0" p-label="Realizar pedido "></po-button>
        </div>
    </div>

    <po-modal #modalCliente p-title="Selecione o cliente">
        <po-widget>
            <div class="grid-container">
                <div *ngFor="let cliente of listaClientes" class="grid-item">
                    <p>Nome: {{ cliente.nome }}</p>
                    <p>Email: {{ cliente.email }}</p>
                    <p>CPF: {{ cliente.cpf }}</p>
                    <p>Telefone: {{ cliente.telefone }}</p>
                    <po-button (p-click)="selecionarCliente(cliente)" p-label="Selecionar"></po-button>
                </div>
            </div>
            <div class="paginacao">
                <po-button class="po-md-4" [p-disabled]="page === 1" p-label="Página anterior" (p-click)="paginaAnterior()"></po-button>
                <span>Página {{ page }}</span>
                <po-button class="po-md-4" p-label="Próxima página" (p-click)="proximaPagina()"></po-button>
            </div>
        </po-widget>
    </po-modal>
</app-container>
