<app-container>
    <po-widget>
        <po-dynamic-form
            #dynamicForm
            p-auto-focus="nome"
            [p-fields]="fields"
            [p-value]="produto"
            >
        </po-dynamic-form>
        <div class="button-container">
            <po-button
                class="po-md-3"
                p-label="Adicionar produto"
                [p-disabled]="dynamicForm?.form?.invalid ?? false"
                (p-click)="criarProduto()">
            </po-button>
            <po-button
                class="po-md-3"
                p-label="Cancelar"
                (p-click)="cancelar()">
            </po-button>
        </div>
    </po-widget>
</app-container>
