<app-side-menu></app-side-menu>
<app-container>
    <div class="po-row">
        <po-widget>
            <div class="grid-container">
                <div *ngFor="let produto of listaProdutos" class="grid-item">
                    <p><strong>Nome:</strong> {{ produto.nome }}</p>
                    <p><strong>Categoria:</strong> {{ produto.categoria }}</p>
                    <div class="button-container">
                        <po-button class="po-md-4" p-icon="po-icon po-icon-delete" p-label="Excluir"
                            (p-click)="selecionarProduto(produto); openExcluir(produto)"></po-button>
                        <po-button class="po-md-4" p-icon="po-icon po-icon-edit" p-label="Editar"
                            (p-click)="selecionarProduto(produto); openEditar(produto)"></po-button>
                    </div>
                </div>
                <div class="buttonAdicionar">
                    <po-button p-label="Adicionar Produto" routerLink="/pages/criarProduto"></po-button>
                </div>
                <div class="paginacao">
                    <po-button class="po-md-4" [p-disabled]="page === 1" p-label="Página anterior"
                        (p-click)="paginaAnterior()"></po-button>
                    <span>Página {{ page }}</span>
                    <po-button class="po-md-4" p-label="Próxima página" (p-click)="proximaPagina()"></po-button>
                </div>
            </div>
        </po-widget>
    </div>

    <po-modal #modalExcluir p-title="Excluir Produto">
        <p>O produto {{ produtoSelecionado?.nome }} será apagado. Confirmar exclusão?</p>
        <div class="modal-buttons">
            <po-button class="po-md-3" p-label="Confirmar" (p-click)="excluirProduto()"></po-button>
            <po-button class="po-md-3" p-label="Cancelar" (p-click)="cancelar()"></po-button>
        </div>
    </po-modal>

    <po-modal #modalEditar p-title="Editar Produto">
        <p>Altere os dados que desejar</p>
        <po-widget>
            <po-dynamic-form #dynamicForm p-auto-focus="nome" [p-fields]="fields" [p-value]="produtoSelecionado"></po-dynamic-form>
            <div class="modal-buttons">
                <po-button class="po-md-3" p-label="Confirmar" (p-click)="editarProduto()"></po-button>
                <po-button class="po-md-3" p-label="Cancelar" (p-click)="cancelar()"></po-button>
            </div>
        </po-widget>
    </po-modal>
</app-container>
