.po-wrapper {
    display: flex;
    height: 100vh;
  
    po-menu {
      height: 100%;
      width: 250px; // Ajuste a largura conforme necessário
      transition: width 0.3s ease, padding 0.3s ease; // Adiciona uma transição suave
  
      &.po-menu-collapsed {
        width: 60px; // Largura quando o menu está colapsado
      }
  
      .po-menu-header {
        background-color: #f8f9fa;
        padding: 10px;
        font-size: 16px;
        color: #333;
        font-weight: bold;
      }
  
      .po-menu-item {
        padding: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #e9ecef; // Cor de fundo ao passar o mouse
        }
      }
  
      // Estilo para o menu colapsado
      &.po-menu-collapsed {
        .po-menu-item {
          text-align: center;
          padding: 15px 0;
        }
      }
    }
  
    po-toolbar {
      flex: 1;
      padding: 15px;
      background-color: #343a40;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    po-page-default {
      flex: 1;
      padding: 20px;
      background-color: #f8f9fa;
    }
  }
  