.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

  .form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    po-dynamic-form {
      margin-bottom: 1.5rem;
    }

    .button-container {
      display: flex;
      justify-content: center;
    }
  }
}
